<div class="container">
  <div class="items-list-container">
    <div class="search-form">
      <input
        type="text"
        placeholder="Search items by title..."
        [value]="searchQuery"
        (input)="onSearch($event)"
        class="search-form">
    </div>

    @if (loading$ | async) {
      <div class="state-message loading">
        Loading items...
      </div>
    }

    @if (error$ | async; as error) {
      <div class="state-message error">
        Error: {{ error }}
      </div>
    }

    @if (items$ | async; as filteredList) {
      <div>
        <h3 class="count-check">Total visible items: {{ filteredList.length }}</h3>
        @if (filteredList.length === 0) {
          <div class="state-message empty">
            No items found matching criteria.
          </div>
        }
        @if (filteredList.length > 0) {
          <div class="items-grid">
            @for (item of filteredList; track item) {
              <app-item-card
              [item]="item"> </app-item-card>
            }
          </div>
        }
      </div>
    }
  </div>
</div>