/* .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

/* Стиль для активной ссылки */
/*
.navbar a.active {
    background-color: #007bff;
}

.navbar .login-link {
    margin-left: auto; /* Сдвигает Login вправо */
/*} */